<%- include('./partials/header'); %>
    <div>
        <div class="cards-list">
            <a class="card" href="#">
                <img src="/img/<%= card.numero %>.png" alt="Image de <%= card.nom %>">
                <h2>#<%= card.numero %> <%= card.nom %></h2>
            </a>
        </div>
    </main>
<%- include('./partials/footer'); %>